* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

#menu-h {
    padding-top: 0; /* Removido o padding-top do #menu-h */
  }
  
  #logo {
    display: inline-block;
    max-width: 100px;
    max-height: 200px;
    vertical-align: middle;
    object-fit: contain;
  }
  
  #menu-h ul {
    list-style: none;
    margin: 0; /* Adicionado o margin: 0 para remover as margens */
    padding: 0;
    background-color: #303030;
  }
  
  #menu-h ul li {
    display: inline-block;
  }
  
  #menu-h ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 25px;
    transition: 0.3s;
  }
  
  #menu-h ul li a:hover {
    background-color:  rgba(201, 139, 5, 0.5);
  }

body {
background-image: url(notas.jpg);
}

section {
    background-color: rgba(0, 0, 0, 0.9);
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 20px;
    justify-content: center;
}

.item {
    color: white;
    font-size: 18px;
    background-color:rgba(62, 62, 62, 0.3);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.08);
}

.i1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.i3, .i4 {
    text-align: justify;
}

.i6, .i7 {
    margin-bottom: 20px;
}

img {
    width: 450px;
    height: 280px;
    object-fit: cover;
}

footer {
    height: 80px;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.9);
    text-align: center;
    font-size: 13px;
    color: white;
    padding-top: 30px;
}


